main {
  height: 100vh;
  padding-top: 20vh;
}

h1 {
  font-size: 25px;
  font-family: Raleway;
}

.container {
  background-color: white;
  height: 310px;
  width: 550px;
  padding: 40px 0;
}

/*Vertical Center code copied from here:
https://www.w3schools.com/howto/howto_css_center-vertical.asp*/
#quote {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#text {
  height: 120px;
  position: relative;
}

#authors {
  height: 50px;
}

#socials {
  height: 50px;
}

.row {
  height: 50px;
  padding: 20px;
}

#tweet-quote, #tumblr-quote, #new-quote {
  color: white;
}
